<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Запускаем-Spark" data-toc-modified-id="Запускаем-Spark-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Запускаем Spark</a></span><ul class="toc-item"><li><span><a href="#2--computer" data-toc-modified-id="2--computer-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>2  computer</a></span><ul class="toc-item"><li><span><a href="#Задача-1." data-toc-modified-id="Задача-1.-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Задача 1.</a></span></li><li><span><a href="#Задача-2." data-toc-modified-id="Задача-2.-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Задача 2.</a></span></li><li><span><a href="#Задание-3." data-toc-modified-id="Задание-3.-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Задание 3.</a></span></li><li><span><a href="#Задание-4" data-toc-modified-id="Задание-4-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Задание 4</a></span></li><li><span><a href="#Задание-5" data-toc-modified-id="Задание-5-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>Задание 5</a></span></li><li><span><a href="#Задание:-10" data-toc-modified-id="Задание:-10-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>Задание: 10</a></span></li><li><span><a href="#Задание:-9" data-toc-modified-id="Задание:-9-1.1.7"><span class="toc-item-num">1.1.7&nbsp;&nbsp;</span>Задание: 9</a></span></li><li><span><a href="#Задание:-11" data-toc-modified-id="Задание:-11-1.1.8"><span class="toc-item-num">1.1.8&nbsp;&nbsp;</span>Задание: 11</a></span></li><li><span><a href="#Задание:-12" data-toc-modified-id="Задание:-12-1.1.9"><span class="toc-item-num">1.1.9&nbsp;&nbsp;</span>Задание: 12</a></span></li><li><span><a href="#Задание:-13" data-toc-modified-id="Задание:-13-1.1.10"><span class="toc-item-num">1.1.10&nbsp;&nbsp;</span>Задание: 13</a></span></li><li><span><a href="#Задание:-6-(2)" data-toc-modified-id="Задание:-6-(2)-1.1.11"><span class="toc-item-num">1.1.11&nbsp;&nbsp;</span>Задание: 6 (2)</a></span></li><li><span><a href="#Задание-7-(2)" data-toc-modified-id="Задание-7-(2)-1.1.12"><span class="toc-item-num">1.1.12&nbsp;&nbsp;</span>Задание 7 (2)</a></span></li><li><span><a href="#Задание:-8-(2)" data-toc-modified-id="Задание:-8-(2)-1.1.13"><span class="toc-item-num">1.1.13&nbsp;&nbsp;</span>Задание: 8 (2)</a></span></li><li><span><a href="#Задание:-12-(1)" data-toc-modified-id="Задание:-12-(1)-1.1.14"><span class="toc-item-num">1.1.14&nbsp;&nbsp;</span>Задание: 12 (1)</a></span></li><li><span><a href="#Задание-13(1)" data-toc-modified-id="Задание-13(1)-1.1.15"><span class="toc-item-num">1.1.15&nbsp;&nbsp;</span>Задание 13(1)</a></span></li><li><span><a href="#Задание-14(2)" data-toc-modified-id="Задание-14(2)-1.1.16"><span class="toc-item-num">1.1.16&nbsp;&nbsp;</span>Задание 14(2)</a></span></li></ul></li></ul></li></ul></div>

# Запускаем Spark

In [94]:
spark.stop()

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

## 2  computer

Краткая информация о базе данных "Компьютерная фирма":

Схема БД состоит из четырех таблиц: -Product(maker, model, type) -PC(code, model, speed, ram, hd, cd, price) -Laptop(code, model, speed, ram, hd, price, screen) -Printer(code, model, color, type, price)

Таблица Product представляет производителя (maker), номер модели (model) и тип ('PC' - ПК, 'Laptop' - ПК-блокнот или 'Printer' - принтер).

Предполагается, что номера моделей в таблице Product уникальны для всех производителей и типов продуктов.

В таблице PC для каждого ПК, однозначно определяемого уникальным кодом – code, указаны модель – model (внешний ключ к таблице Product), скорость - speed (процессора в мегагерцах), объем памяти - ram (в мегабайтах), размер диска - hd (в гигабайтах), скорость считывающего устройства - cd (например, '4x') и цена - price (в долларах).

Таблица Laptop аналогична таблице РС за исключением того, что вместо скорости CD содержит размер экрана -screen (в дюймах).

В таблице Printer для каждой модели принтера указывается, является ли он цветным - color ('y', если цветной), тип принтера - type (лазерный – 'Laser', струйный – 'Jet' или матричный – 'Matrix') и цена - price.

In [3]:
Laptop = spark.createDataFrame([
(1,'1298',350,32,4,700,11)
,(2,'1321',500,64,8,970,12)
,(3,'1750',750,128,12,1200,14)
,(4,'1298',600,64,10,1050,15)
,(5,'1752',750,128,10,1150,14)
,(6,'1298',450,64,10,950,12)
],\
    schema=["code", "model","speed","ram",\
           "hd","price","screen"]).cache()
Laptop.count()
Laptop.createTempView("Laptop")
Laptop.show(4)

+----+-----+-----+---+---+-----+------+
|code|model|speed|ram| hd|price|screen|
+----+-----+-----+---+---+-----+------+
|   1| 1298|  350| 32|  4|  700|    11|
|   2| 1321|  500| 64|  8|  970|    12|
|   3| 1750|  750|128| 12| 1200|    14|
|   4| 1298|  600| 64| 10| 1050|    15|
+----+-----+-----+---+---+-----+------+
only showing top 4 rows

In [4]:
PC = spark.createDataFrame([
(1,'1232',500,64,5,'12x',600)
,(2,'1121',750,128,14,'40x',850)
,(3,'1233',500,64,5,'12x',600)
,(4,'1121',600,128,14,'40x',850)
,(5,'1121',600,128,8,'40x',850)
,(6,'1233',750,128,20,'50x',950)
,(7,'1232',500,32,10,'12x',400)
,(8,'1232',450,64,8,'24x',350)
,(9,'1232',450,32,10,'24x',350)
,(10,'1260',500,32,10,'12x',350)
,(11,'1233',900,128,40,'40x',980)
,(12,'1233',800,128,20,'50x',970)
], \
    schema=["code", "model","speed","ram",\
           "hd","cd","price"]).cache()
PC.count()
PC.createTempView("PC")
PC.show(4)

+----+-----+-----+---+---+---+-----+
|code|model|speed|ram| hd| cd|price|
+----+-----+-----+---+---+---+-----+
|   1| 1232|  500| 64|  5|12x|  600|
|   2| 1121|  750|128| 14|40x|  850|
|   3| 1233|  500| 64|  5|12x|  600|
|   4| 1121|  600|128| 14|40x|  850|
+----+-----+-----+---+---+---+-----+
only showing top 4 rows

In [5]:
Product = spark.createDataFrame([
('B','1121','PC')
,('A','1232','PC')
,('A','1233','PC')
,('E','1260','PC')
,('A','1276','Printer')
,('D','1288','Printer')
,('A','1298','Laptop')
,('C','1321','Laptop')
,('A','1401','Printer')
,('A','1408','Printer')
,('D','1433','Printer')
,('E','1434','Printer')
,('B','1750','Laptop')
,('A','1752','Laptop')
,('E','2113','PC')
,('E','2112','PC')

], schema=["maker", "model","type"]).cache()
Product.count()
Product.createTempView("Product")
Product.show(4)

+-----+-----+----+
|maker|model|type|
+-----+-----+----+
|    B| 1121|  PC|
|    A| 1232|  PC|
|    A| 1233|  PC|
|    E| 1260|  PC|
+-----+-----+----+
only showing top 4 rows

In [6]:
Printer = spark.createDataFrame([
(1,'1276','n','Laser',400)
,(2,'1433','y','Jet',270)
,(3,'1434','y','Jet',290)
,(4,'1401','n','Matrix',150)
,(5,'1408','n','Matrix',270)
,(6,'1288','n','Laser',400)
], \
    schema=["code", "model","color","type","price"]).cache()
Printer.count()
Printer.createTempView("Printer")
Printer.show(4)

+----+-----+-----+------+-----+
|code|model|color|  type|price|
+----+-----+-----+------+-----+
|   1| 1276|    n| Laser|  400|
|   2| 1433|    y|   Jet|  270|
|   3| 1434|    y|   Jet|  290|
|   4| 1401|    n|Matrix|  150|
+----+-----+-----+------+-----+
only showing top 4 rows

In [77]:
import pyspark.sql.functions as F
from pyspark.sql.functions import mean, col

In [8]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

ПРИМЕР КОДА, КОТОРЫЙ САНЕК ПРЕДОСТАВИЛ В КАЧЕСТВЕ УЧЕБНОГО ПРАКТИЧЕСКОГО ПОСОБИЯ

In [8]:
#Образец кода правильного синтаксиса для понимания(код рабочий).
#selectExpr - выражение для одного столбца. Например переименовать, 
a1 = Printer.select("model", "color", "price").\
filter("price<400").join(Product, on='model', how='left').\
selectExpr("maker maker1", "model", "price", "maker").\
groupBy("maker", "model").count().\
selectExpr("count qty", "model")
a1.show()

+---+-----+
|qty|model|
+---+-----+
|  1| 1433|
|  1| 1434|
|  1| 1401|
|  1| 1408|
+---+-----+

### Задача 1.

Найдите номер модели, скорость и размер жесткого диска для всех ПК стоимостью менее 500 дол. Вывести: model, speed и hd

In [9]:
#Решение в SQL
spark.sql("""

SELECT model, speed, hd
From PC
WHERE price < 500

""").show()

+-----+-----+---+
|model|speed| hd|
+-----+-----+---+
| 1232|  500| 10|
| 1232|  450|  8|
| 1232|  450| 10|
| 1260|  500| 10|
+-----+-----+---+

In [11]:
#Решение в Spark
PC.select("model", "speed", "hd").\
filter("price<500").show()

+-----+-----+---+
|model|speed| hd|
+-----+-----+---+
| 1232|  500| 10|
| 1232|  450|  8|
| 1232|  450| 10|
| 1260|  500| 10|
+-----+-----+---+

### Задача 2.

Найдите производителей принтеров. Вывести: maker

In [21]:
#SQL
spark.sql("""

SELECT DISTINCT maker, *
FROM Product
WHERE type = 'Printer'

""").show()

+-----+-----+-----+-------+
|maker|maker|model|   type|
+-----+-----+-----+-------+
|    D|    D| 1288|Printer|
|    A|    A| 1276|Printer|
|    E|    E| 1434|Printer|
|    A|    A| 1408|Printer|
|    A|    A| 1401|Printer|
|    D|    D| 1433|Printer|
+-----+-----+-----+-------+

In [22]:
#Spark. Задача 2
Product.select("maker").\
filter("type = 'Printer'").distinct().show()

+-----+
|maker|
+-----+
|    D|
|    A|
|    E|
+-----+

### Задание 3.

Найдите номер модели, объем памяти и размеры экранов ПК-блокнотов, цена которых превышает 1000 дол.

· Справка по теме:Простой оператор SELECT

In [45]:
#SQL. Задача 3
spark.sql("""

SELECT model, ram, screen, *
FROM Laptop
WHERE price > 1000

""").show()

+-----+---+------+----+-----+-----+---+---+-----+------+
|model|ram|screen|code|model|speed|ram| hd|price|screen|
+-----+---+------+----+-----+-----+---+---+-----+------+
| 1750|128|    14|   3| 1750|  750|128| 12| 1200|    14|
| 1298| 64|    15|   4| 1298|  600| 64| 10| 1050|    15|
| 1752|128|    14|   5| 1752|  750|128| 10| 1150|    14|
+-----+---+------+----+-----+-----+---+---+-----+------+

In [8]:
#Spark. Задача 3
Laptop.select("model", "ram", "screen").\
filter("price>100").\
selectExpr("model", "ram", "screen", "*", "row_number() over(partition by model order by screen asc) rank_screen").\
show()

+-----+---+------+-----+---+------+-----------+
|model|ram|screen|model|ram|screen|rank_screen|
+-----+---+------+-----+---+------+-----------+
| 1298| 32|    11| 1298| 32|    11|          1|
| 1298| 64|    12| 1298| 64|    12|          2|
| 1298| 64|    15| 1298| 64|    15|          3|
| 1321| 64|    12| 1321| 64|    12|          1|
| 1750|128|    14| 1750|128|    14|          1|
| 1752|128|    14| 1752|128|    14|          1|
+-----+---+------+-----+---+------+-----------+

### Задание 4

Найдите все записи таблицы Printer для цветных принтеров.

In [8]:
#SQL. Задача 4
spark.sql("""

SELECT *
FROM Printer
WHERE color = "y"

""").show()

+----+-----+-----+----+-----+
|code|model|color|type|price|
+----+-----+-----+----+-----+
|   2| 1433|    y| Jet|  270|
|   3| 1434|    y| Jet|  290|
+----+-----+-----+----+-----+

In [16]:
#Spark. Задача 4
Printer.select("*").\
filter("color = 'y'").show()

+----+-----+-----+----+-----+
|code|model|color|type|price|
+----+-----+-----+----+-----+
|   2| 1433|    y| Jet|  270|
|   3| 1434|    y| Jet|  290|
+----+-----+-----+----+-----+

### Задание 5

Найдите номер модели, скорость и размер жесткого диска ПК, имеющих 12x или 24x CD и цену менее 600 дол.

 · Справка по теме:
    Простой оператор SELECT
    Предикаты (часть 1)

In [27]:
#SQL. Задача 5
spark.sql("""

SELECT model, speed, hd
FROM PC
WHERE price < 600 AND cd = '12x' OR price < 600 AND cd = '24x'

""").show()

+-----+-----+---+
|model|speed| hd|
+-----+-----+---+
| 1232|  500| 10|
| 1232|  450|  8|
| 1232|  450| 10|
| 1260|  500| 10|
+-----+-----+---+

In [68]:
#Spark. Задача 5
PC.select("model", "speed", "hd").\
filter("price < 600 AND cd = '12x' OR price < 600 AND cd = '24x'").show()

+-----+-----+---+
|model|speed| hd|
+-----+-----+---+
| 1232|  500| 10|
| 1232|  450|  8|
| 1232|  450| 10|
| 1260|  500| 10|
+-----+-----+---+

### Задание: 10

Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price

 · Справка по теме:</br>Подзапросы</br>
    Получение итоговых значений

In [9]:
#SQL. Задача 10
spark.sql("""

SELECT model, price
FROM Printer
WHERE price = (SELECT MAX(price) FROM Printer)

""").show()

+-----+-----+
|model|price|
+-----+-----+
| 1276|  400|
| 1288|  400|
+-----+-----+

In [10]:
#Spark. Задача 10
Printer.select("model", "price").\
filter("price = 400").show()

+-----+-----+
|model|price|
+-----+-----+
| 1276|  400|
| 1288|  400|
+-----+-----+

### Задание: 9

Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker</br>
 · Справка по теме:</br>
    Явные операции соединения
    Простой оператор SELECT

In [12]:
#SQL. Задача 9. Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker. 
#(Справка по теме: Явные операции соединения Простой оператор SELECT)
spark.sql("""

SELECT DISTINCT Product.maker
FROM PC left join Product ON PC.model = Product.model
WHERE PC.speed >= 450


""").show()

+-----+
|maker|
+-----+
|    B|
|    A|
|    E|
+-----+

In [9]:
#Spark. Задача 9. Найдите производителей ПК с процессором не менее 450 Мгц. 
#Вывести: Maker. 
#(Справка по теме: Явные операции соединения Простой оператор SELECT)
PC.select("model").\
filter("speed >= 450").\
join(Product, on='model', how='left').\
distinct().show()

+-----+-----+----+
|model|maker|type|
+-----+-----+----+
| 1232|    A|  PC|
| 1121|    B|  PC|
| 1233|    A|  PC|
| 1260|    E|  PC|
+-----+-----+----+

In [14]:
#Spark. Задача 9. Найдите производителей ПК с процессором не менее 450 Мгц. 
#(Справка по теме: Явные операции соединения Простой оператор SELECT)
#Вывести: Maker.

Product.select("maker", "model", "type").\
join(PC, on='model', how='left').\
filter("speed>=450").\
selectExpr("maker").\
distinct().\
sort(col('maker'), ascending=True).\
show()

+-----+
|maker|
+-----+
|    A|
|    B|
|    E|
+-----+

### Задание: 11

In [13]:
#SQL. Задание: 11
#Найдите среднюю скорость ПК.
#Справка по теме:   Получение итоговых значений.

spark.sql("""

SELECT avg(speed)
FROM PC

""")

+-----------------+
|       avg(speed)|
+-----------------+
|608.3333333333334|
+-----------------+

In [30]:
#SPARK. Задание: 11
#Найдите среднюю скорость ПК.
#Справка по теме:   Получение итоговых значений.
PC.select(F.mean("speed").alias('mean speed:'))

+-----------------+
|      mean speed:|
+-----------------+
|608.3333333333334|
+-----------------+

### Задание: 12

In [27]:
#SQL
#Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.
spark.sql("""

SELECT *
FROM Laptop
WHERE price>1000

""").show()

+----+-----+-----+---+---+-----+------+
|code|model|speed|ram| hd|price|screen|
+----+-----+-----+---+---+-----+------+
|   3| 1750|  750|128| 12| 1200|    14|
|   4| 1298|  600| 64| 10| 1050|    15|
|   5| 1752|  750|128| 10| 1150|    14|
+----+-----+-----+---+---+-----+------+

In [32]:
#SPARK
#Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.

Laptop.select("*").\
filter("price > 1000").\
show()

+----+-----+-----+---+---+-----+------+
|code|model|speed|ram| hd|price|screen|
+----+-----+-----+---+---+-----+------+
|   3| 1750|  750|128| 12| 1200|    14|
|   4| 1298|  600| 64| 10| 1050|    15|
|   5| 1752|  750|128| 10| 1150|    14|
+----+-----+-----+---+---+-----+------+

### Задание: 13

In [31]:
#SQL
#Найдите среднюю скорость ПК, выпущенных производителем A.
  #Получение итоговых значений. Явные операции соединения.
spark.sql("""

SELECT AVG(speed) as speed_avg
FROM PC LEFT JOIN PRODUCT ON PC.model = Product.model
WHERE maker = "A"

""")

+---------+
|speed_avg|
+---------+
|   606.25|
+---------+

In [18]:
#SPARK
#Найдите среднюю скорость ПК, выпущенных производителем A.
  #Получение итоговых значений. Явные операции соединения.
Product.select("maker", "model").\
join(PC, on='model', how='right').\
filter("maker='A'").\
selectExpr("maker", "model", "speed").\
groupby("maker").\
agg(F.mean("speed").alias('avg_sp'),\
    F.count("speed").alias('count_sp'))
#agg множественная группировка, внутри функция F, применили сразу два агрегата

+-----+------+--------+
|maker|avg_sp|count_sp|
+-----+------+--------+
|    A|606.25|       8|
+-----+------+--------+

### Задание: 6 (2)

In [23]:
#SQL
#Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, 
#найти скорости таких ПК-блокнотов. Вывод: производитель, скорость.
#добавить в конце take(1)[0].maker
spark.sql("""

SELECT DISTINCT maker, Laptop.speed
FROM Product RIGHT JOIN Laptop ON Laptop.model = Product.model
WHERE Laptop.hd >=10

""").show()

+-----+-----+
|maker|speed|
+-----+-----+
|    B|  750|
|    A|  600|
|    A|  450|
|    A|  750|
+-----+-----+

In [38]:
#Образец кода правильного синтаксиса для понимания(код рабочий).
#selectExpr - выражение для одного столбца. Например переименовать, 
a1 = Printer.select("model", "color", "price").\
filter("price<400").join(Product, on='model', how='left').\
selectExpr("maker maker1", "model", "price", "maker").\
groupBy("maker", "model").count().\
selectExpr("count qty", "model")
a1.show()

+---+-----+
|qty|model|
+---+-----+
|  1| 1433|
|  1| 1434|
|  1| 1401|
|  1| 1408|
+---+-----+

In [17]:
#PYSPARK
#Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, 
#найти скорости таких ПК-блокнотов. Вывод: производитель, скорость.
Laptop.select("model", "speed", "hd").\
filter("hd>=10").\
join(Product, on="model", how="left").\
selectExpr("maker", "speed").\
distinct().\
sort('maker').\
show()

+-----+-----+
|maker|speed|
+-----+-----+
|    A|  600|
|    A|  450|
|    A|  750|
|    B|  750|
+-----+-----+

### Задание 7 (2)

In [21]:
#SQL. Задание 7.
#Найдите номера моделей и цены всех имеющихся в продаже продуктов 
#(любого типа) производителя B (латинская буква).
spark.sql("""

SELECT PC.model, PC.price
FROM PC LEFT JOIN
     Product ON PC.model = Product.model
WHERE Product.maker = 'B'
UNION
SELECT Laptop.model, Laptop.price
FROM Laptop INNER JOIN
     Product ON Laptop.model = Product.model
WHERE Product.maker = 'B'
UNION
SELECT Printer.model, Printer.price
FROM Printer INNER JOIN
     Product ON Printer.model = Product.model
WHERE Product.maker = 'B'

""").show()

+-----+-----+
|model|price|
+-----+-----+
| 1121|  850|
| 1750| 1200|
+-----+-----+

In [58]:
#SPARK. Задание 7.
#Найдите номера моделей и цены всех имеющихся в продаже продуктов 
#(любого типа) производителя B (латинская буква).
PC.select("model", "price").\
union(Laptop.select("model", "price")).\
union(Printer.select("model", "price")).\
join(Product, on='model', how='left').\
filter("maker='B'").\
distinct().\
show()

+-----+-----+-----+------+
|model|price|maker|  type|
+-----+-----+-----+------+
| 1121|  850|    B|    PC|
| 1750| 1200|    B|Laptop|
+-----+-----+-----+------+

### Задание: 8 (2)

In [9]:
#SQL
#Найдите производителя, выпускающего ПК, но не ПК-блокноты.
spark.sql("""

SELECT DISTINCT maker
FROM product
WHERE type = 'PC'
EXCEPT
SELECT DISTINCT maker
FROM product
Where type = 'Laptop'

""").show(5)

+-----+
|maker|
+-----+
|    E|
+-----+

In [67]:
#Spark
#Найдите производителя, выпускающего ПК, но не ПК-блокноты.
a = Product.select("maker", "model", "type").\
join(PC, on='model', how='left').\
selectExpr("type","maker").\
distinct().\
filter("type = 'PC'")
b = Product.select("maker", "model", "type").\
join(PC, on='model', how='left').\
selectExpr("type","maker").\
distinct().\
filter("type = 'Laptop'")
c = a.join(b, on="maker", how='left').\
filter("")
show()

+-----+----+------+
|maker|type|  type|
+-----+----+------+
|    A|  PC|Laptop|
|    B|  PC|Laptop|
|    E|  PC|  NULL|
+-----+----+------+

### Задание: 12 (1)

In [72]:
#SQL
#Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.
spark.sql("""

SELECT AVG(speed)
FROM Laptop
WHERE price>1000

""").show()

+----------+
|avg(speed)|
+----------+
|     700.0|
+----------+

In [81]:
#Spark
#Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.
Laptop.select("*").\
filter("price > 1000").\
agg(F.mean("speed").alias('avg_sp')).\
show()

+------+
|avg_sp|
+------+
| 700.0|
+------+

### Задание 13(1)

In [85]:
#SQL
#Найдите среднюю скорость ПК, выпущенных производителем A.

spark.sql("""

SELECT AVG(speed)
FROM PC LEFT JOIN Product ON PC.model = Product.model
WHERE maker = "A"


""").show()

+----------+
|avg(speed)|
+----------+
|    606.25|
+----------+

In [92]:
#Spark
#Найдите среднюю скорость ПК, выпущенных производителем A.
Product.select("maker", "model", "type").\
join(PC, on='model', how='left').\
filter("maker = 'A'").\
agg(F.mean("speed").alias('avg_sp')).\
show()

+------+
|avg_sp|
+------+
|606.25|
+------+

### Задание 14(2)

In [93]:
#SQL
#Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.
spark.sql("""

SELECT *
FROM Ships

""").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `Ships` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 4 pos 5;
'Project [*]
+- 'UnresolvedRelation [Ships], [], false

In [ ]:
#SPQRK
#Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий.